body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
     background: linear-gradient(to right, #f97316, #9a3412);;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

form h2 {
    margin-bottom: 20px;
    color: #333;
}

form .logo {
    width: 100px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input[type="radio"] {
    margin-right: 5px;
}

.login-button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #0056b3;
}

.or {
    margin: 15px 0;
    color: #aaa;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007BFF;
}
